@inherits LayoutComponentBase
@inject ServicioSesionUsuario Sesion
@inject NavigationManager Navigation

<div class="page">
    @if (Sesion.EstaAutenticado()){
    <div class="sidebar">
        <NavMenu />
    </div>
    }
    <main>
        <div class="top-row px-4 justify-content-end d-flex">
            @if (Sesion.EstaAutenticado())
            {
                <span class="me-2">👋 Hola, @Sesion.ObtenerUsuarioActual().Nombre</span>
                <button class="btn btn-outline-danger btn-sm" @onclick="CerrarSesion">Cerrar sesión</button>
            }
            else
            {
                <div>
                <a class="btn btn-outline-primary btn-sm me-2" href="/login">Iniciar sesión</a>
                </div>
                <div>
                <a class="btn btn-outline-success btn-sm" href="/registrar">Registrar</a>
                </div>
            }
        </div>

        <article class="content px-4 d-flex flex-column min-vh-100">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private void CerrarSesion()
    {
        Sesion.CerrarSesion();
        Navigation.NavigateTo("/login");
    }
}
