@inherits LayoutComponentBase
@inject ServicioSesionUsuario Sesion
@inject NavigationManager Navigation

<div class="page">
    @if (Sesion.EstaAutenticado()){
        <div class="sidebar">
            <NavMenu />
        </div>
    }
    <main>
        
        @if (Sesion.EstaAutenticado())
        {
            <div class="top-row px-4 justify-content-end d-flex">
                <span class="me-2">👋 Hola, @Sesion.ObtenerUsuarioActual().Nombre</span>
                <button class="btn btn-outline-danger btn-sm" @onclick="CerrarSesion">Cerrar sesión</button>
            </div>
        }

        <article class="content px-4 d-flex flex-column min-vh-100">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private void CerrarSesion()
    {
        Console.WriteLine("Boton");
        Sesion.CerrarSesion();
        Navigation.NavigateTo("/");
    }
}
