
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">CentroEventos.UI</a>
        </div>
    </div>

    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/main" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
                </NavLink>
            </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/crearevento">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Crear Evento
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/crearreserva">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Crear Reserva
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink href="/crear-persona" class="nav-link" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Crear Persona
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/otorgarpermisos">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Otorgar Permiso
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/misreservas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Mis Reservas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/miseventos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Mis Eventos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink href="/mispersonas" class="nav-link" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Listado de Personas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink href="/usuarios" class="nav-link" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Listado de Usuarios
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink href="/logout" class="nav-link" Match="NavLinkMatch.All">
                <span class="bi bi-power" aria-hidden="true"></span> Cerrar Sesión
            </NavLink>
        </div>

        </nav>
    </div>
