@page "/crearevento"
@rendermode InteractiveServer
@using System;
@using CentroEventos.Aplicacion.Entidades;
@using CentroEventos.Aplicacion.CasosDeUso;
@inject AltaEventoDeportivo AltaEvento

<h1>Crear Evento</h1>