@page "/crear-persona"
@using CentroEventos.Aplicacion.Entidades
@using CentroEventos.Aplicacion.Interfaces
@using CentroEventos.Aplicacion.CasosDeUso
@using CentroEventos.Aplicacion.Enumerativos
@rendermode InteractiveServer
@inject NavigationManager Nav
@inject ServicioSesionUsuario Sesion
@inject IRepositorioPersona ServicioPersonas

<h1>Registro de nueva persona</h1>
@if(tienePermisos){
    <div class="mt-3 d-flex flex-grow-1">
        <input placeholder="DNI" @bind="persona.Dni" class="form-control mb-2" style="max-width: 400px;">
        <input placeholder="Nombre" @bind="persona.Nombre" class="form-control mb-2" style="max-width: 400px;">
        <input placeholder="Apellido" @bind="persona.Apellido" class="form-control mb-2" style="max-width: 400px;">
        <input placeholder="Email" @bind="persona.Email" class="form-control mb-2" style="max-width: 400px;">
        <input placeholder="Teléfono" @bind="persona.Tel" class="form-control mb-2" style="max-width: 400px;">
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary" @onclick="Guardar">Guardar</button>
            <button class="btn btn-secondary ms-2" @onclick="Cancelar">Cancelar</button>
        </div>
    </div>
}
@if (!string.IsNullOrEmpty(mensaje))
{
    <p class="alert alert-danger mt-3">@mensaje</p>
}

@code {
    private Usuario? usuarioActual;
    private Persona persona = new();
    private string? mensaje;
    private bool tienePermisos=false;

    protected override void OnInitialized()
    {
        usuarioActual = Sesion.ObtenerUsuarioActual();
        tienePermisos = usuarioActual!.Permisos.Contains(Permiso.EventoAlta);
        if (!tienePermisos)
        {
            mensaje = "No tienes permisos para modificar una persona.";
        }
    }
    void Guardar()
    {
        mensaje = null;
        try
        {
            
            ServicioPersonas.Agregar(persona);
            Nav.NavigateTo("/listado-personas");
        }
        catch (Exception ex)
        {
            mensaje = ex.Message;
        }
    }

    void Cancelar()
    {
        Nav.NavigateTo("/main");
    }
}