@page "/crearevento"
@rendermode InteractiveServer
@using CentroEventos.Aplicacion.Entidades
@using CentroEventos.Aplicacion.CasosDeUso
@using CentroEventos.Aplicacion.Enumerativos
@inject AltaEventoDeportivo AltaEvento
@inject ServicioSesionUsuario Sesion
@inject NavigationManager Nav

<h1>Crear nuevo evento</h1>

@if (tienePermisos)
{
    <div class="mt-3 d-flex flex-column flex-grow-1" style="max-width: 400px;">
        <input placeholder="Nombre del evento" @bind="eventoN.Nombre" class="form-control mb-2" />
        <input placeholder="Descripción" @bind="eventoN.Descripcion" class="form-control mb-2" />
        <br>
        <label>Fecha de inicio</label>
        <InputDate @bind-Value="fecha" class="form-control mb-2" />

        <label>Hora de inicio</label>
        <input type="time" @bind-value="hora" @bind-value:format="HH:mm" class="form-control mb-2" />

        <label>Duracion en Horas</label>
        <input placeholder="Duración (horas)" @bind="eventoN.DuracionHoras" class="form-control mb-2" />
        <br>
        <label>Cupo Maximo</label>
        <input placeholder="Cupo máximo" @bind="eventoN.CupoMaximo" class="form-control mb-2" />
        <br>
        <label>Id del responsable</label>
        <input placeholder="ID del responsable" @bind="eventoN.ResponsableID" class="form-control mb-2" />
        <br>

        <div class="d-flex justify-content-center mt-2">
            <button class="btn btn-primary" @onclick="CrearEventoNuevo">Guardar</button>
            <button class="btn btn-secondary ms-2" @onclick="Cancelar">Cancelar</button>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger mt-3">@mensaje</div>
}

@if (!string.IsNullOrEmpty(mensaje))
{
    <p class="alert alert-danger mt-3">@mensaje</p>
}

@code {
    private EventoDeportivo eventoN = new();
    private DateTime fecha = DateTime.Today;
    private TimeOnly hora = new TimeOnly(12, 0);
    private string? mensaje;
    private bool tienePermisos = false;
    private Usuario? usuarioActual;

    protected override void OnInitialized()
    {
        usuarioActual = Sesion.ObtenerUsuarioActual();
        tienePermisos = usuarioActual!.Permisos.Contains(Permiso.EventoAlta);

        if (!tienePermisos)
        {
            mensaje = "No tienes permisos para crear un evento.";
        }
    }
    private void CrearEventoNuevo()
    {
        mensaje = null;
        try
        {
            eventoN.FechaHoraInicio = fecha + hora.ToTimeSpan();
            AltaEvento.Ejecutar(eventoN, eventoN.ResponsableID);
            Nav.NavigateTo("/miseventos");
        }
        catch (Exception ex)
        {
            mensaje = ex.Message;
        }
    }


    private void Cancelar()
    {
        Nav.NavigateTo("/main");
    }
}
