@page "/login"
@using CentroEventos.Aplicacion.Interfaces
@using CentroEventos.Aplicacion.Servicio
@using CentroEventos.Aplicacion.Entidades
@rendermode InteractiveServer
@inject ServicioUsuario ServicioUsuarios
@inject ServicioSesionUsuario Sesion
@inject NavigationManager Navigation

<h3>Iniciar Sesión</h3>

<input placeholder="Email" @bind="usuarioInput.Email" class="form-control">
<br>
<br>
<input type="password" placeholder="Contraseña" @bind="usuarioInput.Contrasenia" class="form-control">
<br>
<br>
<button class="btn btn-primary" @onclick="IniciarSesion">Iniciar Sesión</button>


@code {
    private Usuario usuarioInput = new();
    private string mensajeError = "";

    private void IniciarSesion()
    {
        var usuario = ServicioUsuarios.IniciarSesion(usuarioInput.Email, usuarioInput.Contrasenia);
        Console.WriteLine("Boton");
        if (usuario is null)
        {
            mensajeError = "Correo o contraseña inválidos.";
            return;
        }
        Navigation.NavigateTo("/main");
    }
}
