@page "/login"
@using CentroEventos.Aplicacion.Interfaces
@using CentroEventos.Aplicacion.Servicio
@using CentroEventos.Aplicacion.Entidades
@rendermode InteractiveServer
@inject IRepositorioUsuario Usuarios
@inject ServicioUsuario ServicioUsuarios
@inject ServicioSesionUsuario Sesion
@inject NavigationManager Navigation

<h3>Iniciar Sesión</h3>
<div class="mt-3 d-flex flex-column flex-grow-1" style="max-width: 400px;">
    <div>
        <input placeholder="Email" @bind="usuario.Email" class="form-control">
    </div>
    <div>
    <input type="password" placeholder="Contraseña" @bind="usuario.Contrasenia" class="form-control">
    </div>
    <div>
    <button class="btn btn-primary" @onclick="IniciarSesion">Iniciar Sesión</button>
    </div>
    @if (!string.IsNullOrEmpty(mensaje))
    {
        <p class="alert alert-danger mt-3">@mensaje</p>
    }
</div>


@code {
    private Usuario usuario = new();
    private string mensaje = "";

    private ResultadoOperacion resultadoOperacion = new();

    private void IniciarSesion()
    {
        var login = ServicioUsuarios.IniciarSesion(usuario.Email, usuario.Contrasenia);

        if (!login.Exito)
        {
            mensaje = login.Mensaje ?? "Error desconocido.";
            return;
        }

        Navigation.NavigateTo("/main");
    }

}
