@page "/perfil"
@rendermode InteractiveServer
@using CentroEventos.Aplicacion.Entidades;
@using CentroEventos.Aplicacion.CasosDeUso;
@inject ServicioSesionUsuario Sesion
@inject NavigationManager Navigation

<PageTitle>Mi Perfil</PageTitle>

<h2>Mi Perfil</h2>

<div class="card p-4">
        <p><strong>ID:</strong> @usuario!.Id</p>
        <br>
        <p><strong>Nombre:</strong> @usuario.Nombre</p>
        <br>
        <p><strong>Apellido:</strong> @usuario.Apellido</p>
        <br>
        <p><strong>Email:</strong> @usuario.Email</p>
        
</div>

@code{
    private Usuario? usuario;
    protected override void OnInitialized()
    {
        usuario = Sesion.ObtenerUsuarioActual();
    }
}


