@page "/registrar"
@using System
@using CentroEventos.Aplicacion.Interfaces
@using CentroEventos.Aplicacion.Servicio
@using CentroEventos.Aplicacion.Entidades
@rendermode InteractiveServer
@inject NavigationManager Nav
@inject AltaUsuario AltaUsuario
@inject IRepositorioUsuario ServicioUsuarios
@inject ServicioSesionUsuario Sesion
@inject ServicioUsuario SUsuario

<h3>Registro de nuevo usuario</h3>

<input placeholder="Nombre" @bind="usuario.Nombre" class="form-control">
<input placeholder="Apellido" @bind="usuario.Apellido" class="form-control">
<input placeholder="Email" @bind="usuario.Email" class="form-control">
<input type="password" placeholder="Contraseña" @bind="usuario.Contrasenia" class="form-control">
<br>
<button class="btn btn-primary" @onclick="Registrar">Aceptar</button>


@if (!string.IsNullOrEmpty(error))
{
    <p style="color:red">@error</p>
}

@code {
    private Usuario usuario = new();
    //private string contrasenia = string.Empty;
    private string? error;

    void Registrar()
    {
        error = null;
        Console.WriteLine("hola: " + usuario.Contrasenia);
        Console.WriteLine("hola2: " + usuario.Email);

        
        try
        {
            //usuario.Contrasenia = contrasenia;
            AltaUsuario.Ejecutar(usuario);
            Sesion.IniciarSesion(usuario);
            Nav.NavigateTo("/");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}
