@page "/registrar"
@using System
@using CentroEventos.Aplicacion.Interfaces
@using CentroEventos.Aplicacion.Servicio
@using CentroEventos.Aplicacion.Entidades
@rendermode InteractiveServer
@inject NavigationManager Nav
@inject AltaUsuario AltaUsuario
@inject IRepositorioUsuario ServicioUsuarios
@inject ServicioSesionUsuario Sesion

<h3>Registro de nuevo usuario</h3>

<input placeholder="Nombre" @bind="usuario.Nombre" class="form-control">
<br>
<br>
<input placeholder="Apellido" @bind="usuario.Apellido" class="form-control">
<br>
<br>
<input placeholder="Email" @bind="usuario.Email" class="form-control">
<br>
<br>
<input type="password" placeholder="Contraseña" @bind="usuario.Contrasenia" class="form-control">
<br>
<br>
<button class="btn btn-primary" @onclick="Registrar">Registrarse</button>


@if (!string.IsNullOrEmpty(error))
{
    <p style="color:red">@error</p>
}

@code {
    private Usuario usuario = new();
    private string? error;

    void Registrar()
    {
        error = null;
        Console.WriteLine("Datos ingresados:");
        Console.WriteLine($"Nombre: {usuario.Nombre}");
        Console.WriteLine($"Apellido: {usuario.Apellido}");
        Console.WriteLine($"Email: {usuario.Email}");
        try
        {
            AltaUsuario.Ejecutar(usuario);
            Sesion.IniciarSesion(usuario);
            Nav.NavigateTo("/main");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}
