@page "/registrar"
@using System
@using CentroEventos.Aplicacion.Interfaces
@using CentroEventos.Aplicacion.Servicio
@using CentroEventos.Aplicacion.Entidades
@rendermode InteractiveServer
@inject NavigationManager Nav
@inject ServicioUsuario ServicioUsuarios
@inject IRepositorioUsuario Usuarios
@inject ServicioSesionUsuario Sesion

<h3>Registro de nuevo usuario</h3>
<div class="mt-3 d-flex flex-column flex-grow-1" style="max-width: 400px;">
    <input placeholder="Nombre" @bind="usuario.Nombre" class="form-control">
    <br>
    <br>
    <input placeholder="Apellido" @bind="usuario.Apellido" class="form-control">
    <br>
    <br>
    <input placeholder="Email" @bind="usuario.Email" class="form-control">
    <br>
    <br>
    <input type="password" placeholder="Contraseña" @bind="usuario.Contrasenia" class="form-control">
    <br>
    <br>
    <button class="btn btn-primary" @onclick="Registrar">Registrarse</button>
</div>

@if (!string.IsNullOrEmpty(mensaje))
{
    <p style="color:red">@mensaje</p>
}

@code {
    private Usuario usuario = new();
    private string? mensaje;

    void Registrar()
    {
        mensaje = null;
        var signup = ServicioUsuarios.Registrar(usuario);

        if (!signup.Exito)
        {
            mensaje = signup.Mensaje ?? "Error al registrar.";
            return;
        }

        Nav.NavigateTo("/main");
    }
}
